In [1]:
import pandas as pd
import numpy as np

file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')

In [2]:
print("file1.shape: ",file1.shape)
print("file2.shape: ",file2.shape)
print("file3.shape: ",file3.shape)

file1.shape:  (4008, 11)
file2.shape:  (996, 11)
file3.shape:  (7070, 11)

In [3]:
print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [4]:
file1 = file1.rename(columns={'ST':'State'})
file2 = file2.rename(columns={'ST':'State'})

print(file1.columns)
print(file2.columns)
print(file3.columns)

file1.columns = file1.columns.str.upper()
file2.columns = file2.columns.str.upper()
file3.columns = file3.columns.str.upper()
print(file1.columns)

print("file1.shape: ",file1.shape)
print("file2.shape: ",file2.shape)
print("file3.shape: ",file3.shape)

Index(['Customer', 'State', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'State', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')
Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT'],
      dtype='object')
file1.shape:  (4008, 11)
file2.shape:  (996, 11)
file3.shape:  (7070, 11)

In [5]:
file1 = file1[['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT']]

file2 = file2[['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT']]

file3 = file3[['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT']]

In [6]:
file1=file1.dropna(axis=0,how='all')
file2=file2.dropna(axis=0,how='all')
file3=file3.dropna(axis=0,how='all')
print("file1.shape: ",file1.shape)
print("file2.shape: ",file2.shape)
print("file3.shape: ",file3.shape)

file1.shape:  (1071, 11)
file2.shape:  (996, 11)
file3.shape:  (7070, 11)

In [7]:
concat_f = pd.concat([file1,file2,file3], axis=0)

In [8]:
print("concat_f.shape: ",concat_f.shape)

concat_f.shape:  (9137, 11)

In [9]:
concat_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
CUSTOMER                     9137 non-null object
STATE                        9137 non-null object
GENDER                       9015 non-null object
EDUCATION                    9137 non-null object
CUSTOMER LIFETIME VALUE      9130 non-null object
INCOME                       9137 non-null float64
MONTHLY PREMIUM AUTO         9137 non-null float64
NUMBER OF OPEN COMPLAINTS    9137 non-null object
POLICY TYPE                  9137 non-null object
VEHICLE CLASS                9137 non-null object
TOTAL CLAIM AMOUNT           9137 non-null float64
dtypes: float64(3), object(8)
memory usage: 856.6+ KB

In [10]:
concat_f.head()

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [11]:
#concat_f[concat_f.isna]

In [12]:
print("concat_f.shape: ",concat_f.shape)
concat_f.dropna(subset=['GENDER'],inplace=True)
# we remove those rows where the Gender is not fill in. Assumption: gender is a good indication of customer behavior
# only about 110 records are affected, not much.

print("concat_f.shape: ",concat_f.shape)

concat_f.shape:  (9137, 11)
concat_f.shape:  (9015, 11)

In [13]:
# remove % and add 0 where NAN
concat_f["CUSTOMER LIFETIME VALUE"]= concat_f["CUSTOMER LIFETIME VALUE"].str.replace("RB","")
concat_f["CUSTOMER LIFETIME VALUE"]= concat_f["CUSTOMER LIFETIME VALUE"].str.replace("%","").fillna("0")

In [14]:
concat_f["CUSTOMER LIFETIME VALUE"]

1        697953.59
2       1288743.17
3        764586.18
4        536307.65
5        825629.78
           ...
7065             0
7066             0
7067             0
7068             0
7069             0
Name: CUSTOMER LIFETIME VALUE, Length: 9015, dtype: object

In [15]:
print(concat_f.shape)
# remove duplicates
concat_f = concat_f.drop_duplicates()

(9015, 11)

In [16]:
# check if there were any dups
concat_f.shape

(9012, 11)

In [18]:
concat_f.head()
#remove customers income 0
concat_f_wincome = concat_f[(concat_f["INCOME"]!=0)]
#check how the list changed
concat_f_wincome.shape

(6742, 11)